{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "plugin:react/recommended",

    "eslint:recommended",
    "plugin:eslint/recommended",

    "prettier/react",
    "prettier/eslint"
  ],
  "parser": "eslint/parser",
  "parserOptions": {
    "project": "tsconfig.json",
    "sourceType": "module"
  },
  "plugins": ["react", "eslint"],
  "rules": {
    "react/display-name": "off",
    "react/prop-types": "off",
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/unbound-method": "off"
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
